* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #121212;
}

hr {
  width: 20%;
  margin: 40px 0;
}

textarea,
input,
button,
select {
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
  border: 1px solid hsl(213, 100%, 61%);
  box-shadow: 0 0px 1px hsla(213, 100%, 61%, 0.2), 0 1px 2px hsla(213, 100%, 61%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}


/**************** App ****************/

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  max-width: 600px;
}


/*************** Counter ****************/

.Counter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
  width: 200px;
}

.Counter h1 {
  flex: 1 0 100%;
  text-align: center;
  line-height: 1.5em;
  border: 1px outset buttonborder;
  border-radius: 2px;
  background-color: buttonface;
}

.Counter button,
form button {
  flex: 1 1 auto;
  margin-top: -1px;
  padding: 10px;
}

.Counter button:first-of-type {
  margin-right: -1px;
}



/*************** Form ****************/

form {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: start; */
  /* align-self: flex-start; */
}

form input {
  margin: 3px 0;
  padding: 0 10px;
  line-height: 2em;
}

form button {
  margin-top: 5px;
  color: rgb(40, 58, 40);
  border: 2px outset teal;
  border-radius: 4px;
  background-color: rgba(96, 214, 96, 0.7);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

form button:hover {
  box-shadow: 0 0px 1px hsla(213, 100%, 61%, 0.2), 0 1px 2px hsla(213, 100%, 61%, 0.2);
}

form button:active {
  box-shadow: 0 0px 1px hsla(213, 100%, 61%, 0.4);
  transform: translateY(1px);
}


/*************** Main ****************/

main {  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


/*************** Posts ****************/

.App .PostList h1 {
  margin-top: 25px;
  text-align: center;
}

.App button[name="new-post"]{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.App .postFilter {  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.App .sorting select {
  margin: 3px 0 3px 0;
  padding: 0 10px;
  height: 32px;
  color: grey;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.post:hover {
  box-shadow: 0 0px 2px hsla(213, 100%, 61%, 0.2), 0 2px 3px hsla(213, 100%, 61%, 0.2);
}

.post:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);  
}

.post--fav {
  border-color: orangered;
  box-shadow: 0 0px 1px orangered, 0 1px 2px orangered;
}

.post .like {
  position: absolute;
  top: -12px;
  right: -1px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.post:last-of-type {
  margin-bottom: 0;
}

.post__content {
  flex: 1;
  padding-right: 15px;
  text-align: justify;
}

.post__content h4 {
  cursor: pointer;
}

.post__content p {
  margin-top: 10px;
  cursor: pointer;
}

.post__content .post__id {
  cursor: auto;
}

.post__btns{
  position: relative;
  flex: 0;
}

.post__btns > button {
  height: 30px;
  min-width: 80px;
  margin-bottom: 15px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  color: rgb(151, 151, 151);
  cursor: pointer;
}

.post__btns > button.remove:hover {
  background-color: rgba(128, 128, 128, 0.15);
}

.post__btns > button.upvote {
  border-color: rgba(255, 68, 0, 0.9);
  color: rgba(255, 68, 0, 0.9);
  font-weight: bold;
}

.post__btns > button.upvote:hover {
  box-shadow: 0 0px 2px rgba(255, 68, 0, 0.6), 0 2px 3px rgba(255, 68, 0, 0.2);
  
}

.post__btns > button.upvote:active {
  box-shadow: 0 0px 1px rgba(255, 68, 0, 0.4);
  transform: translateY(1px);
  
}


.post__id {
  font-size: small;
  font-style: italic;
  color: grey;
}


/*************** Pagination ****************/

.pagination {
  margin-top: 15px;
  margin-bottom: 15px;
}


.pagination span {
  margin-right: 4px;
  padding: 2px 7px;
  color: rgb(0, 43, 43);
  cursor: pointer;
}

.pagination span:hover {
  text-decoration: overline;
}

.pagination span.current {
  font-weight: bold;
  border-width: 3px;
}


/*************** Transition ****************/

.post-enter {
  opacity: 0.5;
  transform: translateX(-600px);
}
.post-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: translateX(-600px);
  transition: all 500ms ease-in;
}


/*************** Login ********************/

.login__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
}

.login__container h1 {
  margin-bottom: 10px;
}

.login__container input {
  margin-top: 10px;
  height: 2.5rem;
  border: 1px solid transparent;
}

.login__container input:focus {
  outline: none;
  border: 1px solid hsl(213, 100%, 61%);
  box-shadow: 0 0px 1px hsla(213, 100%, 61%, 0.2), 0 1px 2px hsla(213, 100%, 61%, 0.2);
}

.login__container :last-child {
  margin-top: 6px;
}


/************* Post Section ************/

.post__id__page {
  max-width: 600px;
  margin: 15px auto;
}

.post__id__page > * {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.post__section h1 {
  margin-bottom: 10px;
}

.comment__section h2 {
  margin-bottom: 10px;
}

.comments > div {
  margin-bottom: 10px;
}

/*********** About ***********/

.about__article {
  text-align: justify;
}

.about__article a {
  text-decoration: none;
}

.about__article h1,
.about__article h2 {
  margin-top: 20px;
  margin-bottom: 7px;
}

.about__article p,
.about__article ul {
  margin-left: 10px;
}

.about__article li {
  margin-bottom: 3px;
  margin-left: 20px;
}

.about__article hr {
  margin: 0 0 7px 0;
  padding: 0;
  width: 100%;
  border-color: rgba(245, 245, 245, 0.377);
}


.about__article .about__listItem {  
  margin-bottom: 7px;
}

.about__listItem span {
  padding: 0 10px;
  background-color: hsla(213, 100%, 61%, 0.261);
  border-radius: 6px;
}

.about__article code {
  display: inline-block;
  padding: 2px 7px;
  background-color: rgba(128, 128, 128, 0.357);
  border-radius: 7px;
}

.about__article__last__p {
  margin-top: 7px;
}

/************* Error *************/

.error_h1 {
  margin-top: 25px;
  text-align: center;
  color: grey;
}