.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -8px -8px 0 -8px;
  padding: 0 15px;
  background-color: #f7f7f7;
}

.navbar__links {
}

.navbar__links > a {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin-right: 5px;
  text-decoration: none;
  color: #3992ff;
  font-weight: 500;
}

.navbar__links > a:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.navbar__links > a:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.logout {
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #f44250;
  border-radius: 4px;
  color: #f44250;
}

.logout:hover {
  background-color: rgba(255, 68, 0, 0.068);
}